<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/cadastrarepistyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
    <body>
        <nav>
            <div class="radio-inputs">
    
                <label class="radio">
                  <input type="radio" name="radio" >
                  <a class="name" href="/home">Home</a>
                </label>
    
                <label class="radio">
                  <input type="radio" name="radio" >
                  <a class="name" href="/listarusuario">Usuários</a>
                </label>
                    
                <label class="radio">
                  <input type="radio" name="radio">
                  <a class="name" href="/listarcolaborador">Colaboradores</a>
                </label>
    
                <label class="radio">
                    <input type="radio" name="radio">
                    <a class="name" href="/listarepi">Tipo EPI's</a>
                  </label>
    
                  <label class="radio">
                    <input type="radio" name="radio">
                    <a class="name" href="/listarepi" checked="">EPI's</a>
                  </label>
    
                  <label class="radio">
                    <input type="radio" name="radio">
                    <a class="name" href="/listaremprestimo">Emprestimo EPI's</a>
                  </label>
    
              </div>
        </nav>

        <div>
            <div>
                <div class="div__principal">
                    <div >
                        <div>
                            <h1>Atualizar EPI</h1>
                        </div>
                        <div class="form">
                            <form th:method="put" th:action="@{/epi}" th:object="${epiDto}" class="info__form">
                                <div class="info">
                                    <label for="nome">Tipo:</label>
                                    <input placeholder="Tipo" class="input" name="text" type="text" th:fild="*(tipo)" required/>
                                </div>
                                <div class="info">
                                    <label for="nome">Descrição:</label>
                                    <input placeholder="Descrição" class="input" name="text" type="text" th:fild="*(descricao)" required/>
                                </div>
                                <div class="div__bnts">
                                    <button th:href="" class="bnt__voltar">Voltar</button>
                                    <div class="pt-1 mb-4">
                                        <button th:href="" class="bnt__cadastrar">Atualizar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>