<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/homestyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
    <body>
        <nav>
            <div class="radio-inputs">
                <label class="radio">
                  <input type="radio" name="radio" checked="">
                  <a class="name" href="home.html">Home</a>
                </label>
                <label class="radio">
                  <input type="radio" name="radio">
                  <a class="name" href="/listarusuario">Usuário</a>
                </label>
                    
                <label class="radio">
                  <input type="radio" name="radio">
                  <a class="name" href="/listarcolaborador">Colaborador</a>
                </label>

                <label class="radio">
                    <input type="radio" name="radio">
                    <a class="name" href="/listarepi">EPI</a>
                  </label>

                  <label class="radio">
                    <input type="radio" name="radio">
                    <a class="name" href="/listaremprestimo">Emprestimo</a>
                  </label>

              </div>
        </nav>
    </body>
</html>