<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/listartipoepi.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipo de EPI's</title>
</head>
    <body>
        <nav>
            <div class="radio-inputs">

                <label class="radio">
                  <input type="radio" name="radio" >
                  <a class="name" href="/home">Home</a>
                </label>

                <label class="radio">
                  <input type="radio" name="radio">
                  <a class="name" href="/listarusuario">Usuários</a>
                </label>
                    
                <label class="radio">
                  <input type="radio" name="radio">
                  <a class="name" href="/listarcolaborador">Colaboradores</a>
                </label>

                <label class="radio">
                    <input type="radio" name="radio">
                    <a class="name" href="/listarepi" checked="">Tipo EPI's</a>
                  </label>

                  <label class="radio">
                    <input type="radio" name="radio">
                    <a class="name" href="/listarepi">EPI's</a>
                  </label>

                  <label class="radio">
                    <input type="radio" name="radio">
                    <a class="name" href="/listaremprestimo">Emprestimo EPI's</a>
                  </label>

              </div>
        </nav>

        <div class="div__card">
            <div class="div_titulo">
                <div>
                    <h3> Tipo de EPI</h3>
                </div>
                <div class="div_button">
                    <a th:href="cadastrarusuario.html" class="botao">Cadastrar Tipo Epi</a>
                </div>
            </div>
            <div class="div_tabela">
                <table class="tabela">
                    <thead class="tabela_cabecalho">
                        <tr>
                            <th class="">ID</th>
                            <th class="">Descrição</th>
                            <th></th>
                            <th class="">Ações</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tipoepi : ${tipoepi}">
                            <td th:text="${tipoepi.id}"></td>
                            <td th:text="${tipoepi.descricao}"></td>
                            <td> 
                                <button th:href="@{'/visualizartipoepi/'+ ${tipoepi.id}}" class="bnt_visualizar">Visualizar</button>
                            </td>
                            <td>
                                <button th:href="@{'/atualizartipoepi/'+ ${tipoepi.id}}" class="bnt_atualizar">Atualizar</button>
                            </td>
                            <td>
                               <button th:data-usuario-id="${tipoepi.id}" class="bnt_excluir">Excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="/excluir_usuario.js">Excluir</script>
    </body>
</html>