<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/listarusuariostyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
</head>
    <body>
        <nav>
            <div class="radio-inputs">

                <label class="radio">
                  <input type="radio" name="radio" >
                  <a class="name" href="/home">Home</a>
                </label>

                <label class="radio">
                  <input type="radio" name="radio" checked="">
                  <a class="name" href="/listarusuario">Usuários</a>
                </label>
                    
                <label class="radio">
                  <input type="radio" name="radio">
                  <a class="name" href="/listarcolaborador">Colaboradores</a>
                </label>

                <label class="radio">
                    <input type="radio" name="radio">
                    <a class="name" href="/listarepi">Tipo EPI's</a>
                  </label>

                  <label class="radio">
                    <input type="radio" name="radio">
                    <a class="name" href="/listarepi">EPI's</a>
                  </label>

                  <label class="radio">
                    <input type="radio" name="radio">
                    <a class="name" href="/listaremprestimo">Emprestimo EPI's</a>
                  </label>

              </div>
        </nav>

        <div class="div__card">
            <div class="div_titulo">
                <div>
                    <h3> Usuario</h3>
                </div>
                <div class="div_button">
                    <a th:href="cadastrarusuario.html" class="botao">Cadastrar Usuário</a>
                </div>
            </div>
            <div class="div_tabela">
                <table class="tabela">
                    <thead class="tabela_cabecalho">
                        <tr>
                            <th class="">ID</th>
                            <th class="">Nome</th>
                            <th class="">E-mail</th>
                            <th></th>
                            <th class="">Ações</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario : ${usuario}">
                            <td th:text="${usuario.id}"></td>
                            <td th:text="${usuario.nome}"></td>
                            <td th:text="${usuario.email}"></td>
                            <td> 
                                <button th:href="@{'/visualizarusuario/'+ ${usuario.id}}" class="bnt_visualizar">Visualizar</button>
                            </td>
                            <td>
                                <button th:href="@{'/atualizarusuario/'+ ${usuario.id}}" class="bnt_atualizar">Atualizar</button>
                            </td>
                            <td>
                               <button th:data-usuario-id="${usuario.id}" class="bnt_excluir">Excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="/excluir_usuario.js">Excluir</script>
    </body>
</html>