<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
    <body>
        <!--Barra de Navegação-->
        <nav>
            <a>Escolher Nome</a>
            <div>
                <ul>
                    <li>
                        <a href="home.html">Página Inicial</a>
                    </li>
                    <li>
                        <a href="ListarUsuario.html">Cadastro de Usuário</a>
                    </li>
                    <li>
                        <a href="ListarColaborador.html">Cadastro de Colaboradores</a>
                    </li>
                    <li>
                        <a href="ListarEpis.html">Cadastro de EPI</a>
                    </li>
                    <li>
                        <a href="ListarEmprestimo.html">Emprestimo de EPI</a>
                    </li>
                </ul>
            </div>
            <form>
                <button>Sair</button>
            </form>
        </nav>

        <div>
            <div>
                <h6> Emprestimo de EPIS</h6>
            </div>
            <div>
                <a>Cadastrar Novo Usuario</a>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>ID</tr>
                        <tr>Nome</tr>
                        <tr>E-mail</tr>
                        <tr>Ações</tr>
                    </thead>
                    <tbody>
                        <tr th:each="">
                            <td th:text=""></td>
                            <td th:text=""></td>
                            <td>
                                <a th:data-empretimo-id="">Devolver</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <scrip src=""></scrip>
    </body>
</html>