.radio-inputs {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
            box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 800px;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
  }
  
  a{
    text-decoration: none;
  }

  .input {
    font-family: "SF Pro";
    max-width: 400px;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000000;
    outline: none;
    transition: ease 0.25s;
  }
  
  .input:focus {
    box-shadow: 5.5px 7px 0 black;
  }

  .div__principal{
    display: grid;
    justify-content: center;
    align-content: center;
  }
  
  .form{
    flex-direction: column;
    justify-content: center;
  }

  .info{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .div__bnts{
    display: flex;
    justify-content: space-around;
  }
  
  .bnt__voltar {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: #3a3939;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .bnt__voltar:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #ffffff;
    transform: translateY(-7px);
  }
  
  .bnt__voltar:active {
    transform: translateY(-1px);
  }

  .bnt__cadastrar{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: #3a3939;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .bnt__cadastrar:hover{
    background-color: #49c4cf;
    box-shadow: 0px 15px 20px rgba(52, 155, 176, 0.452);
    color: #ffffff;
    transform: translateY(-7px);
  }

  .bnt__cadastrar:active{
    transform: translateY(-1px);
  }