@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');

@media screen and (min-width: 800px) {

    *{
        background-color: whitesmoke;
        margin: 1em 2em
    }

    .div-principal{

        display: grid;
        justify-content: center;
        align-content: center;
    
    }

    .div-secundaria{
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .text-login{
        font-size: 2rem;
        font-family: Hanuman;
        font-weight: 900;
        
    }

    .div-informacoes{

    }

}

